*{
    text-decoration: none;
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;
    margin: 0 30px 0 50px;
}
.navlinks{
    margin-left:300px;
   

}
.navlinks ul{
    display: flex;
}
.navlinks ul li{
    margin: 0 30px 0 30px;
}
