@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Inter:wght@700&family=Jost&family=Montserrat:wght@500&family=Oswald:wght@500;600&family=Red+Hat+Display:wght@500;700;900&display=swap');



*{
    list-style-type:none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    color: rgba(255, 255, 255, 0.589);
    
    

}
.navbar{
   position:fixed;
   display: flex;
   justify-content: space-between;
   width: 100%;
   box-sizing: border-box;
   padding: 20px 100px 0 50px;
   height: 70px;
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
   align-items: center;


}
.btn{
    background-color:#eb7371;
    color:white;
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn a{
    color: white;
}
.btn:hover{

}


.navbar .nav-link .home{
   color:#eb7371;
}


.navbar .logo {
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    color: #eb7371
}
.meda{
    color:#3c00a0;
}



.navbar .nav-link ul{
    display: flex;
}


.navbar .nav-link ul li a{
    margin: 0 50px;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    transition: all ease-in-out 250ms;   
}

.navbar .nav-link ul li a::after{
    content:'';
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 0%;
    background-color: #eb7371;
    margin-left: 50px;
    transition: all ease-in-out 250ms; 
}
.navbar .nav-link ul li a:hover::after{
    width: 4%;
}

.navbar .nav-link ul li a:hover{
   color:#eb7371;
}
main.text{
    padding: 5% 10%;
   
}
.content p{
margin-bottom: 120px;
 
}